<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Github issues
    </h1>
    <p>
      This is an Express website handling github issues.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://rawgit.com/1dv023/syllabus/master/lectures/03/index.html" role="button">
        Learn more »
      </a>
    </p>
  </div>
</div>
<div class="container">
<hr />
</div>
<!-- /container -->