<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Github issues
    </h1>
    <p>
      This is an Express website handling github issues.
    </p>
  </div>
  <div class="issues">
    {{#if issues.length}}
    {{#each issues}}
    <div class="issue-box">
      <h3>{{this.title}}</h3>
      <p>{{this.body}}</p>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>
<div class="container">
<hr />
</div>
<!-- /container -->